.table1{
    max-width:927px;
    margin: 30px auto;
    -webkit-overflow-y: auto;
    -moz-overflow-y: auto;
    overflow-y: auto;
    
}
form.example input[type=text] {
    padding: 10px;
    font-size: 17px;
    border: 1px solid grey;
    float: left;
    width: 70%;
    background: #f1f1f1;
  }
  
  form.example button {
    float: left;
    width: 20%;
    padding: 10px;
    background: #2196F3;
    color: white;
    font-size: 17px;
    border: 1px solid grey;
    border-left: none;
    cursor: pointer;
  }
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
table{
   max-width:100%;
   overflow-x: auto;
}
table,th,td{
    border:1px solid black;
    border-collapse: collapse;
    padding: 15px;
}
th,td{
    padding: 15px;
    text-align:center;
    margin:20px;
}
th{
    background-color: aqua;
}

tr:nth-child(even){
    background-color: #dddddd;
}
input[type="button"]{
    margin:6px;
    padding:8px;
    background-color: blue;
    color:white;
    border: 1px solid blue;
    border-radius: 4px;
    width:150px;
    
}
.buttons{
    max-width:927px;
    margin:-50px auto;
}


