*{
    box-sizing: border-box;
}
.add{
    margin:0px auto;
    max-width:425px;
    /* background-color: #C3C3C3; */
    height:auto;
    background-image: linear-gradient(to right, rgba(0, 255, 127, 1) 0%,rgba(127, 255, 255, 1),rgba(212, 42, 255, 1),rgba(127, 255, 255, 1));
    font-family: "Lucida Sans", sans-serif;
    border:1px solid #C3C3C3;
    border-radius: 4px;
}
.form{
    margin: 17px 80px;

}

input[type = "text"], input[type = "date"]{
    width: 100%;
    padding: 12px 20px;
    margin: 1px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}

input[type = "button"]{
    margin:6px;
    padding:8px;
    background-color: blue;
    color:white;
    border: 1px solid blue;
    border-radius: 4px;
    width:112px;
}