.form{
    margin:auto;
    max-width: 400px;
    background-image: linear-gradient(to left,rgba(212, 170, 255, 1), rgba(127, 255, 255, 1), rgba(212, 170, 255, 1));   
    border-radius: 4px;
    font-family: "Lucida Sans", sans-serif;
    padding-bottom: 10px;
}

.fields{
    margin:20px 20px;
}
h3{
    text-align: center;
    padding-top:12px;
}

.inputfield{
    width: 80%;
    padding: 12px 20px;
    margin: 1px 0;
    border: 1px solid #ccc;
    border-radius: 4px;
}


input[type = "button"]{
    margin:12px 2px;
    padding:8px;
    background-color: blue;
    color:white;
    border: 1px solid blue;
    border-radius: 4px;
    width:50%;
    font-size:16px;
    padding-bottom: 10px;
}